/* Remove the navbar's default margin-bottom and rounded borders */
* {
  box-sizing: border-box;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navicon {
  font-size: 20px;
}

.navbar-left>img {
  height: 50px;
  width: 90px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.social {
  margin-right: 20px;
  box-sizing: border-box;
  color: dimgray;
}

.fa-phone {
  transform: scaleX(-1);
  font-size: 16px;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

.modal-header, h4, .close {
  background-color: #FF4500;
  color:white !important;
  text-align: center;
  font-size: 30px;
}
.modal-footer {
  background-color: #f9f9f9;
}

#logbtn, #signupbtn, #forgotbtn, #admPostJobbtn, #postJobbtn, #sptPostJobbtn {
    background-color: #FF4500;
    border-color: #FF4500;
}

.bizlist {
  opacity: 0.7;
  min-height:25px;
  background-color:forestgreen;
  color:white;
  border-radius:5px;
}

#postbtn1:hover,
.bizlist:hover {
  opacity: 1;
}

#postbtn1 {
  opacity: 0.7;
  background-color: forestgreen;
  color: white;
  border-radius: 5px;
}

.bizdetails {
  display: inline-block;
  margin-right:8px;
  margin-bottom: -15px;
}

.profile {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.profile > li {
  display: inline-block;
  float:none;
}

.glyphicon-ok {
  color: dodgerblue;
}

.glyphicon-remove {
  color: red;
}

.heading {
  font-size: 20px;
  font-weight: bold;
}

.tooltip {
  font-family: Georgia;
  font-size: 12px;
}

.clearfix {
  overflow: auto;
}

#panel {
  position: relative;
}

#panel #tag {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgb(0, 0, 0);
  color: #f1f1f1;
}

.fa-tags {
  transform: scaleX(-1);
}

.optionals {
    border: 1px solid #FF4500;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.optionals:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.opt-heading {
  color: #fff !important;
  background-color: #FF4500 !important;
  border-bottom-color: #FF4500;
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid #FF4500;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.pbody {
  height: 140px;
}

.panel-primary > .panel-heading {
    border-color: #FF4500;
}

.servicememo {
  box-shadow: 5px 0px 40px rgba(0,0,0, .5);
}

#userReg, #admUserReg, #jombo, .appBtn, #sptUserReg, #sendPhotoBtn {
  background-color: #C71585;
  margin-top: 15px;
  margin-bottom: -10px;
  border: none;
  transition: 0.5s;
}

#userReg:hover, #admUserReg:hover, #jombo:hover, #sptUserReg:hover, #sendPhotoBtn:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .3);
  font-size: 18px;
}

.line{
width: 100%;
height: 4px;
border-bottom: 1px solid lightslategrey;
}
/*Style for pagination */
.pagination > li > a
{
    background-color: white;
    color: #C71585;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #C71585 !Important;
    border: solid 1px #C71585 !Important;
}

.pagination > .active > a:hover
{
    background-color: #C71585 !Important;
    border: solid 1px #C71585;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media screen and (min-width: 240px) {
.pbody {
  font-size: 10px;
  height: 180px;
  }
#home {
  margin-top: 50px;
 }
}

@media screen and (min-width: 320px) {
.pbody {
  font-size: 11px;
  }
}

@media screen and (min-width: 360px) {
.pbody {
  font-size: 12px;
  }
}

@media screen and (min-width: 411px) {
.pbody {
  font-size: 14px;
  }
}

@media screen and (min-width: 600px) {
.pbody {
  font-size: 16px;
  height: 140px;
  }
}

@media screen and (min-width: 768px) {
.pbody {
  font-size: 10px;
  }
}

@media screen and (min-width: 834px) {
.pbody {
  font-size: 11px;
  }
}

@media screen and (min-width: 1000px) {
.pbody {
  font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
.pbody {
  font-size: 13px;
  }
}
